.btn-custom{
    background-color: rgb(94, 221, 125);
    color: whitesmoke;
    margin-top: 25px;
    font-weight: bolder;
    box-shadow: 6px 6px 2px -4px black;
    
}
*{
    margin: 0;
    padding: 0;
}

.btn-custom1{
    background-color:cornflowerblue;
    color: whitesmoke;
    margin-top: 25px;
    font-weight: bolder;
    box-shadow: 6px 6px 2px -4px black;
    
}
.button{
    background:blue;
    padding: 5px 15px;
    color: rgb(7, 7, 7);
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 18px;
    border-radius: 5px;
    
    margin-top: 25px;
    text-decoration: none;
    transition: 0.45;
}
.button:hover{
    background: red;
    color: white;
    text-decoration: none;
}

.popup{
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.popup1{
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.popup-content{
    height: 250px;
    width: 500px;
    background: white;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}
.popup-content1{
    height: 400px;
    width: 500px;
    background: white;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}
.input{
    margin: 20px auto;
    display: block;
    width: 50%;
    padding: 8px;
    border: 1px solid grey;
}

.social-icons{
    margin: 30px auto;
    text-align: center;
}
.social-icons img{
    width: 30px;
    margin: 0 12px;
    box-shadow: 0 0 20px 0 #7f7f7f3d;
    cursor: pointer;
    border-radius: 50%;
}
.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right,#ff105f,#ffad06);
    border: 0;
    outline: none;
    border-radius: 30px;
}
